name: PR Build

on: [ pull_request ]

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Debug
        run: |
          echo "github.event.workflow_run.id = ${{ github.run.id }}"
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
        with:
          build-tool: "maven"

#      - name: Build with Maven 2
#        run: mvn initialize
#      - name: Save Build Scan 2
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
#        with:
#          build-tool: "maven"

#  build:
#    name: Build
#    needs: Init
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Set up JDK 8
#        uses: actions/setup-java@v3
#        with:
#          java-version: '8'
#          distribution: 'temurin'
#      - name: Debug
#        run: echo "github.event.workflow_run.id = ${{ github.event.workflow_run.id }}"
#      - name: Set up Gradle
#        uses: gradle/gradle-build-action@v2
#      - name: Build with Gradle 1
#        run: ./gradlew help -Dscan.tag.build
#      - name: Save Build Scan 1
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
#      - name: Build with Gradle 2
#        run: ./gradlew tasks -Dscan.tag.build
#      - name: Save Build Scan 2
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
#
#  test-matrix:
#    name: test-matrix
#    strategy:
#      matrix:
#        version: [ 42, 142, 1042 ]
#    needs: Build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Set up JDK 8
#        uses: actions/setup-java@v3
#        with:
#          java-version: '8'
#          distribution: 'temurin'
#      - name: Debug
#        run: echo "github.event.workflow_run.id = ${{ github.event.workflow_run.id }}"
#      - name: Set up Gradle
#        uses: gradle/gradle-build-action@v2
#      - name: Build with Gradle 1
#        run: ./gradlew help -Dscan.tag.test -Dscan.value.version=${{ matrix.version }}
#      - name: Save Build Scan 1
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
#      - name: Build with Gradle 2
#        run: ./gradlew tasks -Dscan.tag.test -Dscan.tag.version=${{ matrix.version }}
#      - name: Save Build Scan 2
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
