name: Upload PR Build Scans

on:
  workflow_run:
    workflows: [ "PR Build" ]
    types: [ completed ]
  issue_comment:
    types: [ created ]

jobs:

  publish-build-scans:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      actions: write
    steps:
      - name: Setup Maven Build Scan Capture
        uses: gradle/github-actions/maven-build-scan-setup@v0.2.1
      - name: Publish Build Scan
        uses: gradle/github-actions/maven-build-scan-publish@v0.2.1
        with:
          develocity-url: 'https://ge.solutions-team.gradle.com'
          develocity-access-key: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
          skip-comment: true
          authorized-list: ''
          workflow-summary-enabled: true
      - name: Debug
        run: cat $HOME/build-metadata.json
