name: PR Build

on: [ pull_request ]

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: gradle/github-actions/maven/build-scan-save@v0.2
#      - name: Save Build Scan 1
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
#        with:
#          build-tool: "maven"
      - name: Build with Maven 2
        run: mvn initialize
      - name: Save Build Scan 2
        uses: gradle/github-actions/maven/build-scan-save@v0.2
#      - name: Save Build Scan 2
#        uses: jprinet/test-gradle/.github/actions/build-scan-save@v1
#        with:
#          build-tool: "maven"

  build:
    name: Build
    needs: Init
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: gradle/github-actions/maven/build-scan-save@v0.2
      - name: Build with Maven 2
        run: mvn initialize
      - name: Save Build Scan 2
        uses: gradle/github-actions/maven/build-scan-save@v0.2

  test-matrix:
    name: test-matrix
    strategy:
      matrix:
        version: [ "1.17.4", "1.17.3", "1.17.2" ]
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Replace GE version
        run: |
          sed -i 's/1.18.1/${{ matrix.version}}/g' .mvn/extensions.xml
          cat .mvn/extensions.xml
          scanCount=$(find ./scan-maven-*/ -type f -name 'scan.scan' | wc -l)
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: gradle/github-actions/maven/build-scan-save@v0.2
      - name: Build with Maven 2
        run: mvn initialize
      - name: Save Build Scan 2
        uses: gradle/github-actions/maven/build-scan-save@v0.2
