name: PR Build Scan Upload

on:
    workflow_run:
        workflows: [ "PR Build" ]
        types: [ completed ]

jobs:
    verification:
        name: Build Scan Upload
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
        steps:
            -   name: "Gradle Enterprise Build Scan upload"
                uses: actions/build-scan-upload@v1
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
