name: Upload PR Build Scans

on:
  workflow_run:
    workflows: [ "PR Build" ]
    types: [ completed ]
  issue_comment:
    types: [ created ]

jobs:

  publish-build-scans:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      actions: write
    steps:
      - name: Setup Maven Build Scan Capture
        uses: gradle/github-actions/maven-build-scan-capture@v0.1-ts
      - name: Publish Build Scan
        uses: gradle/github-actions/maven-build-scan-publish@v0.1-ts
        with:
          build-workflow-filename: 'build.yml'
          tos-location: 'https://foo.bar/tos.html'
          develocity-url: 'https://ge.solutions-team.gradle.com'
          develocity-access-key: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
