name: Upload PR Build Scans - LEGACY

on:
  workflow_run:
    workflows: [ "PR Build - LEGACY" ]
    types: [ completed ]
  issue_comment:
    types: [ created ]

jobs:

  publish-build-scan:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
#      - name: Verify terms of service approval
#        uses: gradle/github-actions/terms-of-service-acceptance/verify@v0.2
#        with:
#          terms-of-service-acceptance-workflow-job-name: 'run-terms-of-service-acceptance'
#      - name: Debug step
#        run: |
#          echo "validated"
#          exit 1
      - name: Debug
        run: |
          ls -ltR
      - name: Publish Maven Build Scans
        uses: gradle/github-actions/maven-build-scan/publish@v0.2
        with:
          develocity-url: 'https://ge.solutions-team.gradle.com'
          develocity-access-key: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
          skip-comment: 'true'
      - name: Publish Maven Build Scans
        run: |
          cat build-metadata.json
