name: PR Build

on: [ pull_request ]

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: gradle/github-actions/maven/build-scan/save@v1.0
      - name: Build with Maven 2
        run: mvn initialize
      - name: Save Build Scan 2
        uses: gradle/github-actions/maven/build-scan/save@v1.0

  build:
    name: Build
    needs: Init
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: gradle/github-actions/maven/build-scan/save@v1.0
      - name: Build with Maven 2
        run: mvn initialize
      - name: Save Build Scan 2
        uses: gradle/github-actions/maven/build-scan/save@v1.0

  test-matrix:
    name: test-matrix
    strategy:
      matrix:
        version: [ "1.17.4", "1.17.3", "1.17.2" ]
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Replace GE version
        run: |
          sed -i 's/1.18.1/${{ matrix.version}}/g' .mvn/extensions.xml
          cat .mvn/extensions.xml
          scanCount=$(find ./scan-maven-*/ -type f -name 'scan.scan' | wc -l)
      - name: Build with Maven 1
        run: mvn clean
      - name: Save Build Scan 1
        uses: gradle/github-actions/maven/build-scan/save@v1.0
      - name: Build with Maven 2
        run: mvn initialize
      - name: Save Build Scan 2
        uses: gradle/github-actions/maven/build-scan/save@v1.0
